@model IEnumerable<ProgressTrackerApp.Models.Habit>

@{
    ViewData["Title"] = "Index";
}

<h1>Habits</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="name">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="description">@Html.DisplayNameFor(model => model.Description)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="isActive">@Html.DisplayNameFor(model => model.IsActive)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="visibility"> @Html.DisplayNameFor(model => model.Visibility)</a>
            <th>
                <a asp-action="Index" asp-route-sortOrder="color"> @Html.DisplayNameFor(model => model.BackgroundColor)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="category"> @Html.DisplayNameFor(model => model.Category)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <form asp-action="ToggleVisibility" asp-controller="Habits" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                        <input type="checkbox" name="visibility" onchange="this.form.submit()" @(item.Visibility ? "checked" : "") />
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackgroundColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
