@model IEnumerable<ProgressTrackerApp.Models.TaskG>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="finish">@Html.DisplayNameFor(model => model.Finish)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="name">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="priority">@Html.DisplayNameFor(model => model.Priority)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="status">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="finishDate">@Html.DisplayNameFor(model => model.FinishDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="goal">@Html.DisplayNameFor(model => model.Goal)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <form asp-action="ToggleFinish" asp-controller="TasksG" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="checkbox" name="finish" onchange="this.form.submit()" @(item.Finish ? "checked" : "")/>
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
